{{#if page.description}}
<div class="print-div">

<button onclick="pdfFunction()" class="print-toggle" title="print PDF">PDF options</button>

   <div class="pdf-menu">
     {{#if page.attributes.rn-pdf}}
    <a href="{{site.url}}/{{page.component.name}}/{{page.componentVersion.displayVersion}}/_attachments/pdf/rn/master.pdf" class="print-pdf" target="_blank"">Release notes</a>
    {{/if}}
     {{#if page.attributes.cdr-pdf}}
    <a href="{{site.url}}/{{page.component.name}}/{{page.componentVersion.displayVersion}}/_attachments/pdf/cdr/master.pdf" class="print-pdf" target="_blank"">CDRs</a>
    {{/if}}
    {{#if page.attributes.api-pdf}}
    <a href="{{site.url}}/{{page.component.name}}/{{page.componentVersion.displayVersion}}/_attachments/pdf/api/master.pdf" class="print-pdf" target="_blank"">API</a>
    {{/if}}
    {{#if page.attributes.stats-pdf}}
    <a href="{{site.url}}/{{page.component.name}}/{{page.componentVersion.displayVersion}}/_attachments/pdf/stats/master.pdf" class="print-pdf" target="_blank"">Stats</a>
    {{/if}}
    {{#if page.attributes.user-pdf}}
    <a href="{{site.url}}/{{page.component.name}}/{{page.componentVersion.displayVersion}}/_attachments/pdf/user/master.pdf" class="print-pdf" target="_blank"">User Guide</a>
    {{/if}}
  </div>

</div>
{{/if}}
